{{ define "content" }}
<div class="container mt-5">
    <h1>{{ .Title }}</h1>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadImageModal">
        Upload Image
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="uploadImageModal" tabindex="-1" aria-labelledby="uploadImageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadImageModalLabel">Upload Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/upload_image" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="image" class="form-label">Choose Image</label>
                        <input class="form-control" type="file" id="image" name="image" required>
                    </div>
                    <button type="submit" class="btn btn-outline-success">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{ end }}
